.weather-container {
    font-size: 20px;
    color: #313c67cd;
    width: 550px;
    height: fit-content;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 10px;
    padding: 25px 15px;
    border-radius: 12px;
    /* background-image: linear-gradient(180deg,  #093150, #729eaf, #f4eee4); */
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.search-bar input {
    width: 250px;
    padding: 5px;
}


.weather-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.location {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location img{
    width: 50px;
    height: 50px;
}

.humid-wind-container {
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.details {
    text-align: center;
}

.humid-wind-container img {
    width: 60px;
    height: 60px;
}
