#root {
    width: 100%;
    height: 100%;
}

html, body {
    box-sizing: border-box;
    background-color: #eaedef;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    height: 100%;
    margin:  0px;
    padding: 0px;

}

.homepage-main {
    background-color: #fbfbfe;
    margin: 0px;
    height: 100vh;
    /* border-radius: 12px; */
    padding-top: 50px
}


.about-container {
    color: #313c67;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 80%;
    height: 500px;
    padding-left: 150px;

}
.home-signup-btn {
    color: rgb(251, 251, 254);
    background-color:#E17633;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 5px;
    list-style: none;
    width: 150px;
    text-align: center;
    &:hover {
        background-color: #40bd93;
    }
}

.about-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    overflow: hidden;

}


.carousel-container {
    background-color: #fffefe;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 900px;
    height: 500px;


}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;

    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1)
}

img {
    width: 100%;
    height: 100%;
}

/*section 2*/
.features-container {
    margin-top: 6%;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: #ECF0F7;
    height: 500px;
}

.feature-heading {
    width: 100%;
    text-align: center;
    color: #313c67;
    height: fit-content;
}

.feature-card-container {
   display: flex;
   justify-content: space-around;
   padding: 10px;
   width: 100%;
   margin-top: 20px;
}
.feature-card {
    color: #313c67;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #fbfbfe;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 12px;
    padding: 10px;
    width: 250px;
    height: 250px;
    &:hover {
        transform: scale(1.05);

       }
}
.feature-card i {
    font-size: 80px;
    background-color: #ECF0F7;
    border-radius: 50%;
    padding: 10px;

}
.feature-detail {

    text-align: center;
}

.empty-box {
    height: 200px;
    background-color: #ECF0F7;
}


@media screen and (max-width: 749px){
    .homepage-main, .about-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .about-container-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-size: 30px;
    }
    .features-container {
        height: 100vh;
        overflow: scroll;
    }

    .feature-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 10px;
        row-gap: 10px;
        margin-left: 40px;
    }

}

@media screen and (min-width: 750px) and (max-width: 1024px ) {
    .homepage-main, .about-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .about-container-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        font-size: 30px;
    }
    .features-container {
        height: 100vh;
        overflow: scroll;
    }

    .feature-card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        gap: 10px;
        row-gap: 10px;
        margin-left: 40px;
    }
}
/* background

    background-image: url('../../../assesst/blue-mount.jpg');
    background-size: cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;

} */

/* @-webkit-keyframes slidein {
    from {background-position: top; background-size:2500px; }
    to {background-position: -100px 0px;background-size:2700px;}
}

@keyframes slidein {
    from {background-position: top;background-size:2500px; }
    to {background-position: -100px 0px;background-size:2700px;}

} */
