
.workspace {
    background-color: #bccbe2;
    height: 100vh;
    overflow: scroll ;
}

.heading {
   width: 100%;
   text-align: center;
   padding: 20px 0;
   color: #313c67;
}

.name {
    font-size: 30px;
    color: #ffffff;
    background-color: #313c67;
    border-radius: 35px;
    padding: 9px;
}
.boards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: 6%;
    margin-bottom: 5%;
}


.board-card-name {
    height: 100%;
    text-align: center;
}


.board-card-container {
    width: 250px;
    height: 250px;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #fffefe;
    padding: 15px;
    border-radius:6px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 20px;
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: translateY(-10px);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}
.board-btn  > *{
    background-color:#313c67;
    border: none;
    padding: 10px 12px;
    border-radius: 22em;
    color:  #f5f5f5;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);

    }
}
.board-btn {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.starred-container:hover {
    background-color: #efc21c;
}

.board-btn-edt:hover {
    background-color: #40bd93;
}

.board-btn-dlt:hover {
    background-color: #e04a47;
}

.board-btn-crt {
    background-color: #f5f5f500;
    border: none;
    color:  #313c67;
    font-size: 38px;
    cursor: pointer;
    &:hover {
        transform: scale(1.09);

    }
}

@media screen and (max-width: 749px){
    .inner-workspace {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-left: 5px;
    }
}

@media screen and (min-width: 750px) and (max-width: 1024px ) {
    .inner-workspace {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        padding-left: 5px;
    }
}
