
.workspace {
    background-image: url('../../../assesst/blue-mount.jpg');
    background-size: cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;

    width: 100vw;
    height: 100vh;

}
@-webkit-keyframes slidein {
    from {background-position: top; background-size:2800px; }
    to {background-position: -100px 0px;background-size:2700px;}
}

@keyframes slidein {
    from {background-position: top;background-size:2800px; }
    to {background-position: -100px 0px;background-size:2700px;}

}

.inner-workspace {
    background: rgba(37, 36, 36, 0.375);
    /* background: rgba(255, 255, 255, 0.375); */
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 3rem;
    border: 1px solid rgba(242, 239, 239, 0.125);
    max-width: 100vw;
    min-height: 100vh;

    /* margin: auto 0; */
}


.heading {
   width: 100%;
   text-align: center;
   padding: 13px;
   margin: 20px;

}

.name {
    font-size: 45px;
    color:  #405c86;
    background-color: #fff;
    border-radius: 35px;
    margin: 0 auto;
    padding: 9px;
}
.boards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin: 12px 28px;
}

.board-card-container {
    text-align: center;

}

.board-card {
    width: 250px;
    height: 250px;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color:#fffffffd;
    padding: 15px;
    border-radius:6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 20px;
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: translateY(-10px);
        box-shadow: 3px 3px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}
.board-btn  > *{
    background-color: #fff;
    border: none;
    padding: 15px;
    border-radius: 22em;
    color:  #405c86;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: translateY(-10px);
    }
}
.board-btn {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.board-btn-crt {
    background-color: #fff;
    border: none;
    padding: 15px;
    border-radius: 22em;
    color:  #405c86;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: translateX(-10px);
        transform: translateY(-10px);
    }
}
