
.add-card {
    color: #313c67;
    width: 100%;

    &:hover {
        color: #40bd93;
    }

}
.taskChecked {
    text-decoration: line-through;
}

input[type="checkbox"] {
    margin: 0 4%;
    width: 16px;
    height: 16px;

}

.cards-container {
    width: 100%;

}

.card-sub-container {
    display: flex;
    align-items: center;
}
.card-container {
    width: 100%;
    padding: 6px;
    margin-bottom: 8px;
    margin-right: 8px;

    background-color: #dcdde058;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px;
}

.card-description{
    width: 100%;
    overflow-wrap: break-word;
}

.card-edit-Textarea {
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    border: none;
    resize: auto;
    outline: none;
    font-size: 15px;
    margin-right: 8px;
    background-color: rgb(255, 255, 255);
    &:focus {
        width: 100%;
        font-family: 'DM Sans', sans-serif;
        color: #313c67;
        background-color: rgb(235, 235, 235);
        /* box-shadow: inset 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.238); */

        margin-right: 20px;

    }
}

.card-btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*button*/
.card-create-btn {
    /* background-color: #313c67; */
    /* border-radius: 20px; */
    color:#313c67;
    font-size: 15px;
    border: none;
    /* height: 30px;
    width: 40%; */
    margin-top: 10px;
    cursor: pointer;
    &:hover {
        transform: scale(1.09);
        color: #40bd93;
    }
}

.cancel-btn {
    /* background-color: #313c67;
    border-radius: 20px; */
    color:#313c67;
    font-size: 15px;
    border: none;
    /* height: 30px;
    width: 40%; */
    margin-top: 10px;
    cursor: pointer;
    &:hover {
        transform: scale(1.09);
        color: #40bd93;
    }
}

.card-delete-btn {
    /* background-color: #ff5751; */
    /* border-radius: 20px; */
    color:#313c67;
    font-size: 15px;
    border: none;
    /* height: 30px;
    width: 40%; */
    margin-top: 10px;
    cursor: pointer;
    &:hover {
        transform: scale(1.09);
        color: #ef443e;

    }
}
