.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    margin-top: 0;
    padding: 30px;

    background-color: #fbfbfe;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 12px;
}

.logo {
    width: 80px;
    height: 80px;
    margin-left: 15px;
}

.profile-dropdown {
    position: absolute;
    z-index: 1000;
    right: 4%;
    font-size: 16px;

    top: 11%;
    list-style-type: none;
    border-radius: 12px;
    border: 1px solid #313c67;
    background-color: #fbfbfe;;
    width: fit-content;
    cursor: pointer;

    padding: 15px;
    margin-bottom: 4px;
}
.profile-dropdown > * {
    margin-bottom: 10px;

  }

.logout-btn{
  background-color: #313c67;
  color:rgb(251, 249, 249);
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
  padding: 3px 9px;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
   }
}

.workspace-btn {
    color: rgb(251, 251, 254);
    background-color:#313c67;
    font-size: 18px;
    border: none;
    border-radius: 2rem;
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
    padding: 13px;

    &:hover {
        background-color: #40bd93;
    }
}

.profile-btn {
    color: rgb(251, 251, 254);
    background-color:#313c67;
    font-size: 18px;
    border: none;
    border-radius: 1.5rem;
    margin-right: 45px;
    margin-top: 5px;
    cursor: pointer;
    padding: 12px;

    &:hover {
        background-color: #40bd93;
    }
}


/* .search-box {
    border: 1px solid #405c86;;
    border-radius: 12px;
    padding: 5px;
} */

ul li {
   list-style: none;
}

.hidden {
    display: none;
 }


 @media screen and (max-width: 749px){
    .nav-container {
        display: flex;
        padding: 4px;

        justify-content: space-between;
    }
    .workspace-btn {
        margin-left: 20px;
    }
    .profile-btn {
        margin-right: 40px;
    }
    .profile-dropdown{
        top: 7%;
    }

 }

 @media screen and (min-width: 750px) and (max-width: 1024px ) {
    .nav-container {
        display: flex;
        padding: 2px 0;
        justify-content: space-between;
  
    }
    .workspace-btn {
        margin-left: 20px;
    }
    .profile-btn {
        margin-right: 40px;
    }
    .profile-dropdown{
        top: 7%;
    }

 }
