.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    margin: 0px;
    padding: 40px 20px;
    background-color: #fbfbfe;

}

.logo {
    width: 80px;
    height: 80px;
    margin-left: 15px;
}

.profile-dropdown {
    position: absolute;
    z-index: 1000;
    right: 4%;
    font-size: 16px;
    top: 80px;
    list-style-type: none;
    border-radius: 15px;
    border: .5px solid #313c67;
    color: #313c67;
    background-color: #fbfbfe;;
    width: fit-content;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 4px;
}
.profile-dropdown > * {
    margin-bottom: 10px;

  }

.logout-btn{
  background-color: #313c67;
  color:rgb(251, 249, 249);
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
  padding: 3px 9px;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
   }
}

.workspace-btn {
    color: rgb(251, 251, 254);
    background-color:#313c67;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
    padding: 13px;

    &:hover {
        background-color: #40bd93;
    }
}

.profile-btn {
    color: rgb(251, 251, 254);
    background-color:#313c67;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    margin-right: 45px;
    margin-top: 5px;
    cursor: pointer;
    padding: 12px;

    &:hover {
        background-color: #40bd93;
    }
}


/* .search-box {
    border: 1px solid #405c86;;
    border-radius: 12px;
    padding: 5px;
} */

ul li {
   list-style: none;
}

.hidden {
    display: none;
 }


 @media screen and (max-width: 650px){
    .nav-container {
        display: flex;
        width: 90%;
        padding-top: 45px;
        background-color: #fbfbfe;
        justify-content: space-between;
    }

    .profile-btn {
        margin-right: 35px;
    }

    .profile-dropdown{
        top: 10%;
    }

    .logo {
        margin-left: 0%;
    }

 }

 /* @media screen and (min-width: 750px) and (max-width: 1024px ) {
    .nav-container {
        display: flex;
        padding: 2px 0;
        justify-content: space-between;

    }
    .workspace-btn {
        margin-left: 20px;
    }
    .profile-btn {
        margin-right: 40px;
    }
    .profile-dropdown{
        top: 7%;
    }

 } */
