/*side bar*/
.sidebar {
    position: absolute;
    z-index: 100;
    width: 70px;
    height: 100%;
    background-color: #fbfbfe;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition: width 0.3s ease;
    font-size: 20px;
}

.sidebar-content {
  color: #313c67;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 12px;
  text-align: left;
    &:hover {
        background-color: rgba(222, 226, 232, 0.983);

    }
}

.sidebar span {
    width: 0;
    height: 0;
    transition: width 0.3s ease;
    color: #313c67;;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar--open {
    width: 250px;
    transition: width 0.3s ease;
}

.sidebar--open .sidebar-content span {
    display: block;
    width: 100%;
    height: 100%;
}

.trigger-bar {
    display: flex;
    justify-content: flex-end;

    color: #313c67;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 30px;

    cursor: pointer;
}
